*,
*::before,
*::after {
  box-sizing: border-box;
}

.player-grid {
  position: relative;
}

.player-grid .fleet-grid {
  position: absolute;
}

.grids-container {
  display: flex;
  padding: 20px;
}

.grids-container > div:first-child {
  margin-right: 100px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  justify-content: center;
}

.buttons-container > button {
  margin-top: 8px;
}
