.userVersus {
  display: flex;
  justify-content: center;
}

.user {
  font-weight: bold;
}

.middleIcon {
  color: #87899b;
}

.isActive::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: #40c057;
  animation: progress 10s infinite;
  animation-timing-function: linear;
}

@keyframes progress {
  0% {
    width: 100%;
    background-color: #40c057;
  }

  70% {
    background-color: #40c057;
  }

  75% {
    background-color: orange;
  }

  100% {
    width: 0;
    background-color: red;
  }
}
