/* TODO: refactor styles (::after selectors in particular) */

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > div {
  display: flex;
  /* border: 1px solid #b4b4ff; */
  width: 25px;
  height: 25px;
  -webkit-user-select: none;
  user-select: none;
  background-color: #e8f7ff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 4px;
}

.grid > div:hover {
  position: relative;
}

.grid > div:hover::before {
  content: '';
  display: block;
  position: absolute;
  background: transparent;
  border: 2px solid #0f6ca1;
  width: 26px;
  height: 26px;
  margin-left: -1px;
  margin-top: -1px;
  border-style: dashed;
}

.grid > .square-hit {
  /* background-color: #ffaeae; */
}

.grid > .square-miss,
.grid > .square-hit {
  justify-content: center;
  align-items: center;
}

.grid > .square-hit::after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  background-color: #ff2b2b;
  border-radius: 50%;
  margin-left: -4px;
}

.grid > .square-miss::after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  background-color: #abc5d4;
  border-radius: 50%;
  margin-left: -4px;
}

.grid {
  width: 250px;
}
