.battleship {
  display: flex;
  --battleship-size: 25px;
  margin-bottom: -1px;
  margin-right: -1px;
}

.battleship.vertical {
  flex-direction: column;
}

.battleship-section {
  /* background-color: #cacbd8; */
  background-color: #afb1c1;
  height: var(--battleship-size);
  width: var(--battleship-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.battleship-section::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  /* background-color: #b3b4c1; */
  background-color: #87899b;
  border-radius: 50%;
}

.battleship-section.hit {
  background-color: #ffaeae;
}

.battleship-section.hit::before {
  background-color: #ff2b2b;
}

.battleship.horizontal .battleship-section.head {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.battleship.horizontal .battleship-section.tail {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.battleship.vertical .battleship-section.head {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.battleship.vertical .battleship-section.tail {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
